.cabecera{
  width: 100%;
  margin-bottom: auto;
  opacity: 1; 
  background-color: #28a745;
}
.logo-white{
  width: 86px;
  height: 25px;
  opacity: 1;
  margin: 0 auto;
}
.boton1{
  width: 59px;
  height: 42px;
  margin: 4 4 4 4;
  border-color: #FFFFFF80;
  size: 1px;
  opacity: 1;
}
.img{
  width: 278px;
  height: 180px;
  margin: 4 4 0 0;
  opacity: 1;
}
.card mx-auto{
  margin: auto;
}
.card-title1{
  font-family: 'Roboto','Light', sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  text-align: left;
  opacity: 1;
  width: 261px;
  height: 73px;
  color: #212529;
}
.card-text1{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: normal; 
  text-align: left;
  width: 140px;
  height: 19px;
  margin: left;
  color: #707070;
}
.container{
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.iconoUbicación{
  display: flex;
  align-items: flex-start;
  width: 6.13px;
  height: 9.2px;
  margin: left;
  opacity: 1;
  color: #707070;
}
.card-text2{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: normal; 
  text-align: left;
  opacity: 1;
  width: 161px;
  height: 15px;
  color: #707070;
}
.card-text1-2{
  font-family: 'Roboto','Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: normal; 
  text-align: left;
  opacity: 1;
  width: 152px;
  height: 19px;
  color: #707070;
}
.card-text3{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: normal; 
  text-align: left;
  opacity: 1;
  width: 163px;
  height: 15px;
  color: #707070;
}
.card-text4{
  font-family: 'Roboto','Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: normal; 
  text-align: left;
  opacity: 1;
  width: 137px;
  height: 15px;
  color: #707070;
}
.card-text5{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-size: 13px;
  font-style: normal; 
  text-align: left;
  opacity: 1;
  width: 183px;
  height: 19px;
  color: #707070;
}
.precio-container{
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.precio-normal{
  font-family: 'Roboto','Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  width: 57px;
  height: 19px;
  margin-right: 10px;
  text-decoration: none;
  text-align: left;
  color: #707070;
}
.precio-oferta{
  font-family: 'Roboto', 'Medium', sans-serif;
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  width: 74px;
  height: 24px;
  text-decoration: none;
  text-align: left;
  color: #28A745;
}
.precio-normal3{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: normal;
  width: 66px;
  height: 19px;
  margin-right: 10px;
  text-decoration: none;
  text-align: left;
  color: #707070;
}
.footer-coupons {
  margin: auto;
  width: 320px;
  height: 241px;
  background-color: #28A745;
  color: #FFFFFF;
  padding: 20px;
}
.text-white{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
  width: 268px;
  height: 24px;
}
.form-control{
  width: 278px;
  height: 40px;
  color: #FFFFFF;
  border-color: #DDDDDD;
  line-height: 1px;
  opacity: 1;
}
.footer-coupons input[type="text"] {
  line-height: 1px;
  opacity: 1;
  color: #FFFFFF;
  border-color: #DDDDDD;
}
.footer text{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #707070;
  opacity: 100%;
  width: 57px;
  height: 19px;
}
.footer-coupons input[type="email"] {
  line-height: 1px;
  opacity: 1;
  color: #707070;;
  border-color: #DDDDDD;
}
.footer email{
  font-family: 'Roboto', 'Light', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  text-align: left;
  color: #707070;
  opacity: 1;
  width: 129px;
  height: 19px;
}
.footer-coupons button {
  color: #212529;
  background-color: #F8F9FA;
  border-color: #DDDDDD;
}
.logo-black{
  margin: auto;
  width: 82px;
  height: 24px;
  opacity: 1;
}
.centrado-Final{
  margin: 0 auto;
  width: 75%;
}
.textoFinal{
  font-family: 'Roboto', 'Light',sans-serif;
  font-weight: 300;
  line-height: 16px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  opacity: 1;
  width: 278px;
  height: 38px; 
  color: #707070;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {

}

